<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Добавить новую категорию</h4>
      </div>
      <form method="post" action="/category/">
        <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="control-label">Название:</label>
              <input type="text" name='title' class="form-control" id="category-name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Удалить категорию</h4>
      </div>
      <div class="modal-body">
        <h5>Вы действительно хотите ее удалить?</h5>
        <input type="hidden" id="delete_category_id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
        <button type="button" id="deleteCategoryBtn" class="btn btn-primary">Удалить</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(".avtohover-delete").hover(function(){
    var button = $(this).children('button');
    console.log(button)
    button.show();
    button.css("margin-top", "-30px")
  },
  function(){
    var button = $(this).children('button');
    button.hide();
  });
  $('.delete-btn').on('click', function(event) {
    var id = $(event.target).siblings('a').get(0).id.split('_')[1];
    var deleteModal = $('#delete_category_id');
    deleteModal.val(id);
    $('#deleteCategoryModal').modal('show');
  })
  $('#deleteCategoryModal').on('show.bs.modal', function (event) {
       var modal = $(this)
         modal.focus();
    //modal.find('.modal-body input').val(category_id)
  })
  $('#deleteCategoryBtn').click(function(event) {
    var category_id = $('#delete_category_id').val();
    $.ajax({
      url: '/category/' + category_id,
      type: 'DELETE',
      success: function(result) {
       $('#category_' + category_id).parent().remove();
        $('#deleteCategoryModal').modal('hide');
        $(location).attr('href', '/')
      },
      error: function(result) {
        console.log(result);
//        $('#deleteCategoryModal').children('modal-body')
//        <div class="alert alert-danger" role="alert">
//          <strong>Oh snap!</strong> Change a few things up and try submitting again.
//        </div>
      }
    });
  })
  $(document).ready( function() {
    var activeElement = $('#category_<%-(current_category_id)%>');

    if(activeElement.length)
      activeElement.parent().addClass('disabled');
  }

  )
</script>
