<div class="col-sm-offset-5 col-sm-4 container top-buffer">
  <form class="form-signin" action='/users' method="post">
    <h2 class="form-signin-heading">Пожалуйста, зарегистрируйтесь</h2>
    <label class="sr-only">Email address</label>
    <input type="login" id="inputEmail" class="form-control" name='login' placeholder="Логин" required="" autofocus="">
    <label class="sr-only">Password</label>
    <input type="password" id="inputPassword" name='password' class="form-control" placeholder="Пароль" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
  </form>
</div>
