<!--
<%# include header %>
	<h1><%#= title %></h1>
	<%# if (user) { %>
		<form method='post', action='/users/logout'>
			<input type='submit' value='Выйти'/>
		</form>
		<%# if (categories) { %>
			<ul>
  				<%# categories.forEach(function(category){ %>
    			<li><%#= category.title %></li>
  				<%# }); %>
			</ul>
		<%# } %>
	<%# } else { %>
		<h1>Регистрация</h1>
		<form method='post', action='/users'>
			<input type='text', name='login'/>
			<input type='password', name='password'/>
			<input type='submit', value='Зарегистрироваться'/>
		</form>
		<h1>Войти</h1>
		<form method='post', action='/users/login'>
			<input type='text', name='login'/>
			<input type='password', name='password'/>
			<input type='submit', value='Войти'/>
		</form>
	<%# } %>
<%# include footer %>-->

<%- include header %>
  <% if (user) { %>
    <div class="container top-buffer">
      <div class="row">
    <% if (categories.length == 0) {%>
        <div class="jumbotron">
          <h1>Приветствуем Вас!</h1>
          <p class="lead">Сейчас у Вас нет личных категорий. Вы можете создать новую и начать работать с заметками!</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button" data-toggle="modal" data-target="#addCategoryModal">Добавить категорию</a></p>
        </div>
    <%} else {%>
          <%- include categories %>
          <%- include notes_list %>
    <%};%>
      </div>
    </div>
<% } else { %>
  <% include checkin %>
<% }; %>
  <%- include footer %>
