<% if ((current_category_id) && (current_category_id != undefined)) {%>
<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Добавить заметку</h4>
      </div>
      <form method="post" action="/note">
        <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="control-label">Название:</label>
              <input type="text" name='title' class="form-control" id="note-name">
              <input type="hidden" name='category_id' class="form-control" id="note-category-id" value="<%- current_category_id %>"/>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteNoteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Удалить заметку</h4>
      </div>
      <div class="modal-body">
        <h5>Вы действительно хотите ее удалить?</h5>
        <input type="hidden" id="delete_note_id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
        <button type="button" id="deleteNoteBtn" class="btn btn-primary">Удалить</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(".avtohover-delete-note").hover(function(){
    var button = $(this).children('button');
    console.log(button)
    button.show();
    button.css("margin-top", "-5px")
  },
  function(){
    var button = $(this).children('button');
    button.hide();
  });
  $('.delete-btn-note').on('click', function(event) {
    var id = $(event.target).parent().parent().attr('id').split('_')[1];
    var deleteModal = $('#delete_note_id');
    deleteModal.val(id);
    $('#deleteNoteModal').modal('show');
  })
  $('#deleteNoteModal').on('show.bs.modal', function (event) {
       var modal = $(this)
         modal.focus();
    //modal.find('.modal-body input').val(category_id)
  })
  
  $('#deleteNoteBtn').click(function(event) {
    var note_id = $('#delete_note_id').val();
    $.ajax({
      url: '/note/' + note_id,
      type: 'DELETE',
      success: function(result) {
       $('#note_' + note_id).parent().remove();
        $('#deleteNoteModal').modal('hide');
        $(location).attr('href', '/')
      },
      error: function(result) {
        console.log(result);
//        $('#deleteCategoryModal').children('modal-body')
//        <div class="alert alert-danger" role="alert">
//          <strong>Oh snap!</strong> Change a few things up and try submitting again.
//        </div>
      }
    });
  })
  

  
</script> 

<% } %>
<% if ((notes) && notes.length > 0) {%>
<script>
  $("#preview_note").click(function(event) {
    var raw_text = Base64.encode($("#raw_text").val());
    raw_text = encodeURIComponent(raw_text);
    $.ajax({
      url: '/markdown/' + raw_text,
      type: 'GET',
      data: raw_text,
      success: function(result) {
        result = Base64.decode(result);
        console.log(result);
        var res = $("#preview_result")
        res.empty();
        res.append(result);

      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  })

  $(document).ready(function() {
    $('#raw_text').val(Base64.decode(nodeEditDefaultValue()));
  });

  function nodeEditDefaultValue() {
    console.log('TST')
    return "<%= (notes[0].encoded_description) %>";
  }
</script>
<% } %>
